In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import os

In [12]:
ds_path = os.getcwd().removesuffix('notebook\\eda')+'datasets\\'
fetp_path = ds_path + 'fetp.csv'
fr_path = ds_path + 'fr.csv'
gdp_path = ds_path + 'gdp.csv'

In [37]:
fetp, fr, gdp = pd.read_csv(fetp_path), pd.read_csv(fr_path), pd.read_csv(gdp_path)

In [38]:
fetp.rename(columns={'Employment to population ratio, 15+, female (%) (national estimate)':'emp_pop_ratio'},inplace=True)
fr.rename(columns={'Fertility rate - Sex: all - Age: all - Variant: estimates':'fr_ratio'},inplace=True)
gdp.rename(columns={'GDP, PPP (constant 2017 international $)':'gdp_ppp'},inplace=True)

### Year Range

In [57]:
year_min, year_max = max(fetp['Year'].min(),fr['Year'].min(),gdp['Year'].min()), min(fetp['Year'].max(),fr['Year'].max(),gdp['Year'].max())

In [66]:
countries = ['United States', 'India', 'China']
all_years = { i for i in range(year_min, year_max+1)}

### FETP Missing Years

In [71]:
print('Missing Years')
for i in countries:
    print(f'{i} : {all_years - set(fetp[fetp['Entity']==i]['Year'].to_list())}')

Missing Years
United States : set()
India : {1990, 1991, 1992, 1993, 1995, 1996, 1997, 1998, 1999, 2001, 2002, 2003, 2004, 2006, 2007, 2008, 2009, 2011, 2013, 2014, 2015, 2016, 2017}
China : {1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022}

### FR Missing Years

In [72]:
print('Missing Years')
for i in countries:
    print(f'{i} : {all_years - set(fr[fr['Entity']==i]['Year'].to_list())}')

Missing Years
United States : set()
India : set()
China : set()

### GDP Missing Years

In [74]:
print('Missing Years')
for i in countries:
    print(f'{i} : {all_years - set(gdp[gdp['Entity']==i]['Year'].to_list())}')

Missing Years
United States : set()
India : set()
China : set()

In [21]:
fetp[fetp['Entity'].isin(countries)].sort_values(by=['Entity','Year'], ascending=True)

,Entity,Code,Year,"Employment to population ratio, 15+, female (%) (national estimate)"
643,China,CHN,2000,65.295
1552,India,IND,1994,26.318
1553,India,IND,2000,29.957
1554,India,IND,2005,27.625
1555,India,IND,2010,27.806
...,...,...,...,...
3790,United States,USA,2018,54.888
3791,United States,USA,2019,55.356
3792,United States,USA,2020,51.511
3793,United States,USA,2021,53.166
3794,United States,USA,2022,54.736